doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/font-awesome-4.7.0')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    script(src="https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js")
    script(src="/javascripts/client.js")
    h1= title
    p Welcome to #{title}
