doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/libs/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        script(src='https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js')
        script(src='/libs/sha512/sha512.min.js')
        script(src='/javascripts/client.js')
        div.login-container#login-container
            div.token-container
                p
                    | Get your API token at&nbsp;
                    a(href="https://newsriver.io" target="_blank" rel="noopener noreferrer") https://newsriver.io
                    | &nbsp;and paste it in the box below
                div.token-input
                    input(type="text" placeholder="Your Newsriver API token")#token-text-input
                    button(type="button")#login-btn Login
            button#logoutButton(type="button") Logout

        div#query-container
            div.field-container
                select.field
                    option(disabled selected value='null') Article Field
                    option(value='title') Title (only)
                    option(value='text') Text
                    option(value='language') Language
                input.phrase(type='text' placeholder='Phrase to search')
                button.add(onclick='addField()') +
        button#send-query(onclick='queryBuilder()') Send Query

        div#articles-container
