doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/libs/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        script(src='https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js')
        script(src='/javascripts/client.js')
        div.login-container.logged-in#login-container
            div.token-container
                p
                    | Get your API token at&nbsp;
                    a(href="https://newsriver.io" target="_blank" rel="noopener noreferrer") https://newsriver.io
                    | &nbsp;and paste it in the box below
                div.token-input
                    input(type="text" placeholder="Your Newsriver API token")#token-text-input
                    button(type="button")#login-btn Login
            button#logoutButton(type="button") Logout
        div#query-container
        button.add(onclick='addField()') +
        span Sort by:
        select#sort
            option(value='score') Score
            option(value='date') Date
            option(value='read') Reading time
        select#sortOrder
            option(value='asc') ASC
            option(value='desc') DESC
        button#send-query(onclick='queryBuilder()') Send Query

        div#articles-container
